[Desktop Entry]
Encoding=UTF-8
Name=Link to Plots - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1ur5SGp6sUYzI8WoHg8mOXPKToKSfD9K7nYTBZ4FsRTg/edit#slide=id.p
Icon=text-html
