[Desktop Entry]
Encoding=UTF-8
Name=Link to Tracker - Google Sheets
Type=Link
URL=https://docs.google.com/spreadsheets/d/1Z4T372WWGgLtO8ao0MbRNl9qDCag68ROtFNcc99JiEw/edit
Icon=text-html
